<!-- body -->
<div class="container">
  <% for (var i = 0; i < status.length; i++) { %>
    <div class="row box-device">

      <div class="three columns">
        <div class="title">
          <%= status[i].group %>&nbsp;
          <div class="title-functions">
            <a href="/editGroup/<%= status[i].groupId %>">
              <i class="fa fa-pencil" title="Edit"></i>
            </a>
            <a href="/deleteGroup/<%= status[i].groupId %>">
              <i class="fa fa-times-circle" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="nine columns">
        <!-- http -->
        <% for (var w = 0; w < status[i].watchers.length; w++) { %>
          <% if (status[i].watchers[w].type == 'http') { %>
          <div class="box-service box-http">
            <div class="box-service-functions">
              <a href="/editWatcher/<%= status[i].watchers[w]._id %>">
                <i class="fa fa-pencil" title="Edit"></i>
              </a>
              <a href="/deleteWatcher/<%= status[i].watchers[w]._id %>">
                <i class="fa fa-times-circle" title="Delete"></i>
              </a>
            </div>
            <div class="box-status fl <% if (status[i].watchers[w].status) { %>status_up<% } %>">HTTP</div>
            <div class=""><%= status[i].watchers[w].url %></div>
          </div>
          <% } %>
        <% } %>
        <!-- icmp -->
        <% for (var w = 0; w < status[i].watchers.length; w++) { %>
          <% if (status[i].watchers[w].type == 'icmp') { %>
          <div class="box-service box-icmp">
            <div class="box-service-functions">
              <a href="/editWatcher/<%= status[i].watchers[w]._id %>">
                <i class="fa fa-pencil" title="Edit"></i>
              </a>
              <a href="/deleteWatcher/<%= status[i].watchers[w]._id %>">
                <i class="fa fa-times-circle" title="Delete"></i>
              </a>
            </div>
            <div class="box-status fl <% if (status[i].watchers[w].status) { %>status_up<% } %>">ICMP</div>
            <div class=""><%= status[i].watchers[w].ip %></div>
          </div>
          <% } %>
        <% } %>
      </div>

    </div>
  <% } %>
</div>
<script>
(function() {
  setInterval(function() {
      window.location.reload();
  }, 15000);
})();
</script>